doctype html 
html
  head
    title Amit dance academy
    block scripts
    block style

body
    block content
        nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
   
    block foot
      #footer
        | our footer here
    